$primary-gradient: linear-gradient(263.66deg, #4EEFD1 5.89%, #00C9FF 114.87%);
$liner-gradient: linear-gradient(90.01deg, #00C9FF 1.06%, #4EEFD1 100%);
$bcg-secondary: #212A35;
$bcg-medium: #575563;
$bcg-low :#0F1318;
$bcg-primary: #171E26;
$btn-shadow: 2px 10px 20px rgba(0, 201, 255, 0.3);
$primary-white: #FFFFFF;
$secondary-hight: #00C9FF;

